:root {
  --main-color: #d63384;      
  --bg-color: #ffe6f1;        
  --text-color: #000000;      
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color);
}

body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  flex: 1;
}

.navbar, .navbar.navbar-expand-lg {
  background-color: var(--main-color) !important;

}
.navbar .nav-link, .navbar .navbar-brand {
  color: white !important;
}

.navbar .nav-link:hover, .navbar .navbar-brand:hover {
  color: var(--bg-color) !important;
}

.navbar .btn, .navbar .btn-outline-primary {
  color: white;
  border-color: white;
}

.navbar .btn:hover, .navbar .btn-outline-primary:hover {
  background-color: white;
  color: var(--main-color);
}

.btn-primary {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.btn-outline-primary {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-outline-primary:hover {
  background-color: var(--main-color);
  color: white;
}

a {
  color: var(--main-color);
}
a:hover {
  color: #a61e5c;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  color: black;
  text-align: center;
  padding: 1rem;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 20px;
}

.login-form {
  background-color: white;
  border-top: 10px solid var(--main-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-form input:focus {
  box-shadow: 0 0 5px var(--main-color);
  border-color: var(--main-color);
}

.login-form button {
  background-color: var(--main-color) !important;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #c2186b !important;
}

.login-form .alert {
  font-size: 14px;
  padding: 8px;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.form-container h2 {
  color: var(--main-color) !important;
  margin-bottom: 20px;
}

.form-control:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}

label {
  color: var(--main-color);
  font-weight: 500;
}

.bg-custom {
  background-color: var(--main-color) !important;
}

.edit-title, .details-title, .page-title {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.edit-form button, .details-actions button {
  background-color: var(--main-color) !important;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.edit-form button:hover, .details-actions button:hover {
  background-color: #c2186b !important;
}

.edit-form, .details-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-view {
  background-color: white !important; 
  color: #f287bb !important;
  border: 1px solid  var(--main-color) !important;
  transition: all 0.3s ease;
}

.btn-view:hover {
  background-color: var(--main-color) !important; 
  color: white!important;
  border-color: var(--main-color) !important; 
}
